################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Procedural/v15
/CSharpFunctionnal/bin/Debug/netcoreapp2.0
/CSharpFunctionnal/obj/Debug/netcoreapp2.0
/OO/bin/Debug/netcoreapp2.0
/OO/obj/Debug/netcoreapp2.0
/Procedural/bin/Debug/netcoreapp2.0
/Procedural/obj/Debug/netcoreapp2.0
/Functionnal/bin/
/Functionnal/obj/
