################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Procedural/v15
/CSharpFunctionnal/
/CSharpFunctionnal/
/OO/bin/
/OO/obj/
/Procedural/bin/
/Procedural/obj/
/Functionnal/bin/
/Functionnal/obj/
